<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> {{ version }}
    </div>
    <strong>Copyright © 2019 <a href="{{ author['link'] }}">{{ author['name'] }}</a>.</strong> Tous droits réservés
</footer>